# One-Hot Encoding

##### Source dataset: https://www.kaggle.com/datasets/uciml/german-credit

##### Import libary

In [42]:
import random
import pandas as pd
import numpy as np

##### Membaca data mentah (raw data)

In [43]:
data = pd.read_csv('german_credit_data.csv', header=None)

##### Membentuk list Fitur A1 - 10 (banyaknya 'A' mengikuti banyaknya kolom yang ada di dataset yang digunakan)

In [44]:
varnames = ['A'+str(s) for s in range(1,11)]

##### Men-set masing-masing kolom dari data yang ada
##### Hal ini dilakukan karena data mentah yang dipakai tidak memiliki judul fitur

In [45]:
data.columns = varnames
varnames

['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10']

##### Mengganti data dengan nilai ? dengan nilai Nan

In [46]:
data = data.replace('?', np.nan)

##### merubah tipe data dari kolom A2 - A8

In [47]:
data['A2'] = pd.to_numeric(data['A2'], errors='coerce')  
data['A8'] = pd.to_numeric(data['A8'], errors='coerce')

##### Melakukan proses maping data text menjadi bentuk binary

In [48]:
data['A10'] = data['A10'].map({'+':1, '-':0})

##### membuat list dengan fitur data dengan jenis kategori dan jenis numerik

In [49]:
cat_cols = [c for c in data.columns if data[c].dtypes=='O'] 
num_cols = [c for c in data.columns if data[c].dtypes!='O']

##### melakukan inputasi terhadap data yang kosong dengan nilai 
##### 0 untuk list data bernilai numerik
##### Missing untuk data kolom fitur berjenis kategori

In [50]:
data[num_cols] = data[num_cols].fillna(0) 
data[cat_cols] = data[cat_cols].fillna('Missing')

##### menyimpan data yang telah di transformasi dalam bentuk csv

In [51]:
data.to_csv('result_onehot_encoding.csv', index=False)

##### cek hasil data

In [52]:
data_result = pd.read_csv('result_onehot_encoding.csv')

In [53]:
data_result

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10
0,0.0,0.0,Sex,Job,Housing,Saving accounts,Checking account,0.0,Duration,0.0
1,0.0,67.0,male,2,own,Missing,little,1169.0,6,0.0
2,1.0,22.0,female,2,own,little,moderate,5951.0,48,0.0
3,2.0,49.0,male,1,own,little,Missing,2096.0,12,0.0
4,3.0,45.0,male,2,free,little,little,7882.0,42,0.0
...,...,...,...,...,...,...,...,...,...,...
996,995.0,31.0,female,1,own,little,Missing,1736.0,12,0.0
997,996.0,40.0,male,3,own,little,little,3857.0,30,0.0
998,997.0,38.0,male,2,own,little,Missing,804.0,12,0.0
999,998.0,23.0,male,2,free,little,little,1845.0,45,0.0
1000,999.0,27.0,male,2,own,moderate,moderate,4576.0,45,0.0