# Data Cleaning

## Hands-ON

##### source dataset: https://www.kaggle.com/datasets/utkarshx27/movies-dataset

##### Import Libary

In [74]:
import pandas as pd
import numpy as np

##### Load Data

In [75]:
data = pd.read_csv("movie_dataset.csv")
data.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

##### Periksa datanya masing masing variabl/collom/fitur dengan dtypes

In [76]:
print(data.dtypes)

index                     int64
budget                    int64
genres                   object
homepage                 object
id                        int64
keywords                 object
original_language        object
original_title           object
overview                 object
popularity              float64
production_companies     object
production_countries     object
release_date             object
revenue                   int64
runtime                 float64
spoken_languages         object
status                   object
tagline                  object
title                    object
vote_average            float64
vote_count                int64
cast                     object
crew                     object
director                 object
dtype: object

##### Melihat Statistik dasar

In [77]:
data.describe()

,index,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4803.000000,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2401.000000,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,1386.651002,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,1200.500000,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,2401.000000,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,3601.500000,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,4802.000000,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

## Membuang Drop Kolom

##### Melihat pada entri pertama

In [78]:
data.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

##### Memilih Kolom yang akan di drop

In [79]:
kolom_drop = [col for col in ['homepage', 'index', 'keywords', 'overview', 
                             'production_companies',
                             'spoken_languages', 'status', 'tagline',
                             'cast', 'crew'] 
              if col in data.columns]

##### Melakukan drop pada data yang dipilih

In [80]:
data.drop(kolom_drop, inplace=True, axis=1)

##### inspeksi ulang dataframe, kolom yang tidak diinginkan dibuang

In [82]:
data.head()

,budget,genres,id,original_language,original_title,popularity,production_countries,release_date,revenue,runtime,title,vote_average,vote_count,director
0,237000000,Action Adventure Fantasy Science Fiction,19995,en,Avatar,150.437577,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,Avatar,7.2,11800,James Cameron
1,300000000,Adventure Fantasy Action,285,en,Pirates of the Caribbean: At World's End,139.082615,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,Pirates of the Caribbean: At World's End,6.9,4500,Gore Verbinski
2,245000000,Action Adventure Crime,206647,en,Spectre,107.376788,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,Spectre,6.3,4466,Sam Mendes
3,250000000,Action Crime Drama Thriller,49026,en,The Dark Knight Rises,112.312950,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,The Dark Knight Rises,7.6,9106,Christopher Nolan
4,260000000,Action Adventure Science Fiction,49529,en,John Carter,43.926995,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,John Carter,6.1,2124,Andrew Stanton

## Mengubah id di dataframe

##### cek nilai untuk id

In [83]:
data['id'].is_unique

True

##### ganti id yang ada pada kolom menggunakan set_index

In [84]:
data = data.set_index('id')
data.head()

,budget,genres,original_language,original_title,popularity,production_countries,release_date,revenue,runtime,title,vote_average,vote_count,director
id,,,,,,,,,,,,,
19995,237000000,Action Adventure Fantasy Science Fiction,en,Avatar,150.437577,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,Avatar,7.2,11800,James Cameron
285,300000000,Adventure Fantasy Action,en,Pirates of the Caribbean: At World's End,139.082615,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,Pirates of the Caribbean: At World's End,6.9,4500,Gore Verbinski
206647,245000000,Action Adventure Crime,en,Spectre,107.376788,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,Spectre,6.3,4466,Sam Mendes
49026,250000000,Action Crime Drama Thriller,en,The Dark Knight Rises,112.312950,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,The Dark Knight Rises,7.6,9106,Christopher Nolan
49529,260000000,Action Adventure Science Fiction,en,John Carter,43.926995,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,John Carter,6.1,2124,Andrew Stanton

##### Akses record ke 19995

In [85]:
data.loc[19995]

budget                                                          237000000
genres                           Action Adventure Fantasy Science Fiction
original_language                                                      en
original_title                                                     Avatar
popularity                                                     150.437577
production_countries    [{"iso_3166_1": "US", "name": "United States o...
release_date                                                   2009-12-10
revenue                                                        2787965087
runtime                                                             162.0
title                                                              Avatar
vote_average                                                          7.2
vote_count                                                          11800
director                                                    James Cameron
Name: 19995, dtype: object

# Merapihkan fields dalam data

##### Menghitung frekuensi nilai object

In [86]:
data.dtypes.value_counts()

object     7
int64      3
float64    3
Name: count, dtype: int64

##### seleksi data dari 1995 dengan output hanya pada field release_date

In [87]:
data.loc[1995:, 'release_date'].head(10)

id
1995      2001-06-11
157353    2014-04-16
331       2001-07-18
61791     2011-08-03
8204      2008-02-14
47964     2013-02-06
10733     2004-04-07
9806      2004-11-05
1408      1995-12-22
32657     2010-02-01
Name: release_date, dtype: object

##### enggunakan ekspresi reguler (Regex) tunggal untuk mengekstrak tahun publikasi

In [88]:
regex = r'^(\d{4})'

##### jalankan regex di dataset

In [89]:
extr = data['release_date'].str.extract(r'^(\d{4})', expand=False)
extr.head()

id
19995     2009
285       2007
206647    2015
49026     2012
49529     2012
Name: release_date, dtype: object

##### mendapatkan versi numeriknya dengan perintah pd.to_numeric

In [90]:
data['release_date'] = pd.to_numeric(extr)
data['release_date'].dtype

dtype('float64')

##### perhitungan pada nilai valid yang tersisa

In [91]:
data['release_date'].isnull().sum() / len(data)

np.float64(0.00020820320632937748)

## Membersihkan Kolom dengan Kombinasi metode str dengan NumPy

##### isi kolom 'production_countries'

In [92]:
data['production_countries'].head(10)

id
19995     [{"iso_3166_1": "US", "name": "United States o...
285       [{"iso_3166_1": "US", "name": "United States o...
206647    [{"iso_3166_1": "GB", "name": "United Kingdom"...
49026     [{"iso_3166_1": "US", "name": "United States o...
49529     [{"iso_3166_1": "US", "name": "United States o...
559       [{"iso_3166_1": "US", "name": "United States o...
38757     [{"iso_3166_1": "US", "name": "United States o...
99861     [{"iso_3166_1": "US", "name": "United States o...
767       [{"iso_3166_1": "GB", "name": "United Kingdom"...
209112    [{"iso_3166_1": "US", "name": "United States o...
Name: production_countries, dtype: object

In [94]:
data.loc[1452]

budget                                                          270000000
genres                           Adventure Fantasy Action Science Fiction
original_language                                                      en
original_title                                           Superman Returns
popularity                                                      57.925623
production_countries    [{"iso_3166_1": "US", "name": "United States o...
release_date                                                       2006.0
revenue                                                         391081192
runtime                                                             154.0
title                                                    Superman Returns
vote_average                                                          5.4
vote_count                                                           1400
director                                                     Bryan Singer
Name: 1452, dtype: object

##### Mendapatkan bolean mask

In [96]:
pc = data['production_countries']
united_states = pc.str.contains('United States of America')
united_states[:5]

id
19995     True
285       True
206647    True
49026     True
49529     True
Name: production_countries, dtype: bool

In [97]:
france = pc.str.contains('France')

##### Kombinasikan dengan np.where:

In [98]:
data['production_countries'] = np.where(united_states, 'United States of America',
                                      np.where(france, 'France',
                                               pc.str.replace('-', ' ')))
data['production_countries'].head()

id
19995     United States of America
285       United States of America
206647    United States of America
49026     United States of America
49529     United States of America
Name: production_countries, dtype: object

##### tampilkan data

In [99]:
data.head()

,budget,genres,original_language,original_title,popularity,production_countries,release_date,revenue,runtime,title,vote_average,vote_count,director
id,,,,,,,,,,,,,
19995,237000000,Action Adventure Fantasy Science Fiction,en,Avatar,150.437577,United States of America,2009.0,2787965087,162.0,Avatar,7.2,11800,James Cameron
285,300000000,Adventure Fantasy Action,en,Pirates of the Caribbean: At World's End,139.082615,United States of America,2007.0,961000000,169.0,Pirates of the Caribbean: At World's End,6.9,4500,Gore Verbinski
206647,245000000,Action Adventure Crime,en,Spectre,107.376788,United States of America,2015.0,880674609,148.0,Spectre,6.3,4466,Sam Mendes
49026,250000000,Action Crime Drama Thriller,en,The Dark Knight Rises,112.312950,United States of America,2012.0,1084939099,165.0,The Dark Knight Rises,7.6,9106,Christopher Nolan
49529,260000000,Action Adventure Science Fiction,en,John Carter,43.926995,United States of America,2012.0,284139100,132.0,John Carter,6.1,2124,Andrew Stanton