# Decission Tree Iris

##### Source dataset: https://en.wikipedia.org/wiki/Iris_flower_data_set

In [19]:
import numpy as np
import pandas as pd
from sklearn import tree

##### Membaca Dataset dari File ke Pandas dataFrame

In [20]:
irisDataset = pd.read_csv('IrisSpeciesDataset.csv', delimiter=';', header=0)

In [21]:
irisDataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  149 non-null    float64
 1   SepalWidthCm   149 non-null    float64
 2   PetalLengthCm  149 non-null    float64
 3   PetalWidthCm   149 non-null    float64
 4   Species        149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [22]:
irisDataset

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              4.9           3.0            1.4           0.2     Iris-setosa
1              4.7           3.2            1.3           0.2     Iris-setosa
2              4.6           3.1            1.5           0.2     Iris-setosa
3              5.0           3.6            1.4           0.2     Iris-setosa
4              5.4           3.9            1.7           0.4     Iris-setosa
..             ...           ...            ...           ...             ...
144            6.7           3.0            5.2           2.3  Iris-virginica
145            6.3           2.5            5.0           1.9  Iris-virginica
146            6.5           3.0            5.2           2.0  Iris-virginica
147            6.2           3.4            5.4           2.3  Iris-virginica
148            5.9           3.0            5.1           1.8  Iris-virginica

[149 rows x 5 columns]

##### Mengubah kelas (kolom "Iris-setosa") dari String ke Unique-Integer

In [23]:
irisDataset["Species"] = pd.factorize(irisDataset.Species)[0]

In [24]:
irisDataset

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0              4.9           3.0            1.4           0.2        0
1              4.7           3.2            1.3           0.2        0
2              4.6           3.1            1.5           0.2        0
3              5.0           3.6            1.4           0.2        0
4              5.4           3.9            1.7           0.4        0
..             ...           ...            ...           ...      ...
144            6.7           3.0            5.2           2.3        2
145            6.3           2.5            5.0           1.9        2
146            6.5           3.0            5.2           2.0        2
147            6.2           3.4            5.4           2.3        2
148            5.9           3.0            5.1           1.8        2

[149 rows x 5 columns]

##### Mengubah dataFrame ke array Numpy

In [25]:
irisDataset = irisDataset.to_numpy()

##### Membagi Dataset => 80 baris data untuk training dan 20 baris data untuk testing

In [26]:
dataTraining = np.concatenate((irisDataset[0:40, :], irisDataset[50:90, :]), 
                              axis=0)
dataTesting = np.concatenate((irisDataset[40:50, :], irisDataset[90:100, :]), 
                             axis=0)

##### Memecah Dataset ke Input dan Label

In [27]:
inputTraining = dataTraining[:, 0:4]
inputTesting = dataTesting[:, 0:4]
labelTraining = dataTraining[:, 4]
labelTesting = dataTesting[:, 4]

In [28]:
inputTesting

array([[4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5]])

##### Mendefinisikan Decision Tree Classifier

In [29]:
model = tree.DecisionTreeClassifier()

##### Mentraining Model

In [31]:
model = model.fit(inputTraining, labelTraining)

##### Memprediksi Input Data Testing

In [32]:
hasilPrediksi = model.predict(inputTesting)
print("Label Sebenarnya : ", labelTesting)
print("Hasil Prediksi   : ", hasilPrediksi)

Label Sebenarnya :  [0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 2.]
Hasil Prediksi   :  [0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

##### Menghitung Akurasi

In [33]:
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Prediksi Benar :", prediksiBenar, "data")
print("Prediksi Salah :", prediksiSalah, "data")
print("Akurasi :", prediksiBenar/(prediksiBenar+prediksiSalah) * 100, "%")

Prediksi Benar : 19 data
Prediksi Salah : 1 data
Akurasi : 95.0 %